<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/public/stylesheets/theme-gray-all.css'>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to
    <%= title %>
  </p>

  <div id="info"></div>
     maxId: <%= maxId %>
<br>

count:<%= count %>

<br>

minNameId:<%= minNameId %>
  
<a href="/saveGoods">add</a>
<a href="/updateNameStart">name</a>
</body>
<script src="/public/javascripts/ext-all.js"></script>

<script>
setInterval(function(){
  Ext.Ajax.request({
    url:"/getInfo"
  }).then(function(response){
    var info = document.getElementById("info");
    info.innerHTML=response.responseText+"<br>" + info.innerHTML;
    //Ext.getBody().append(response.responseText)
  })


},60000)
Ext.Msg.alert("ad")

</script>

</html>